<div class="links">

<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_todo_list_path(@todo_list) %>
<%= link_to 'Delete', todo_list_path(@todo_list), method: :delete, data: {confirm: "Are you sure?"} %>

</div>


<div class="index_row show">
  <h3 class="todo_list_title"><%= @todo_list.title %></h3>
  <p class="todo_list_subtitle"><%= @todo_list.description %></p>
</div>

<div id="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
  <div class="forms">
    <%= render "todo_items/form" %>
  </div>
</div>
